{{#bs-modal class='change-password-modal' onSubmit=(action 'submit') onHide=(action 'close') open=open as |modal|}}
  {{#modal.header}}
    <h2 class='modal-title'>{{title}}</h2>
  {{/modal.header}}
  {{#modal.body}}
    <h4><strong>*Note*</strong> Upon successful completion you will have to sign in again.</h4>
    <div class='form-group'>
      <label for='current-password-box'>Current password</label>
      {{input
        id='current-password-box'
        type='password'
        class='form-control current-password'
        value=current-password
      }}
      <label for='new-password-box'>New password</label>
      {{input
        id='new-password-box'
        type='password'
        class='form-control new-password'
        value=password
      }}
      <label for='confirm-password-box'>Confirm new password</label>
      {{input
        id='confirm-password-box'
        type='password'
        class='form-control confirm-password'
        value=confirm-password
      }}
      {{#bs-tooltip placement='right' triggerElement="#new-password-box"}}
        <div class='change-password-tooltip'>
          Password must have at least:<br>
          {{#if passwordHas6Characters}}
            {{fa-icon 'check'}}
          {{else}}
            {{fa-icon 'close'}}
          {{/if}}
          Six characters<br>
          {{#if passwordHasDigit}}
            {{fa-icon 'check'}}
          {{else}}
            {{fa-icon 'close'}}
          {{/if}}
          One digit<br>
          {{#if passwordHasUppercaseLetter}}
            {{fa-icon 'check'}}
          {{else}}
            {{fa-icon 'close'}}
          {{/if}}
          One uppercase letter<br>
          {{#if passwordHasLowercaseLetter}}
            {{fa-icon 'check'}}
          {{else}}
            {{fa-icon 'close'}}
          {{/if}}
          One lowercase letter<br>
        </div>
      {{/bs-tooltip}}
    </div>
    <div class='alert alert-danger {{errorMessageClass}}'>
      <strong>Error!</strong> {{errorMessage}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type='danger'}}Cancel{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type='primary'}}Submit{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
