{{#bs-modal class='change-email-modal' onSubmit=(action 'submit') onHide=(action 'close') open=open as |modal|}}
  {{#modal.header}}
    <h2 class='modal-title'>{{title}}</h2>
  {{/modal.header}}
  {{#modal.body}}
    <h4><strong>*Note*</strong> Upon successful completion you will have to verify your new account E-mail and sign in again.</h4>
    <div class='form-group'>
      <label for='new-email-box'>New E-mail</label>
      {{input
        id='new-email-box'
        type='text'
        class='form-control new-email'
        value=email
      }}
      <label for='password-box'>Confirm password</label>
      {{input
        id='password-box'
        type='password'
        class='form-control confirm-password'
        value=password
      }}
    </div>
    <div class='alert alert-danger {{errorMessageClass}}'>
      <strong>Error!</strong> {{errorMessage}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type='danger'}}Cancel{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type='primary'}}Submit{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
