<div class='left-portion'>
  <div class='label'>
    {{item.label}}
    {{#if item.completed}}
      {{fa-icon 'check-circle' class='completed'}}
    {{/if}}
  </div>
  <div class='due'>
    {{if item.due (moment-format item.due 'MMMM Do YYYY, h:mm a') 'No due date'}}
  </div>
</div>
<div class='weight'>
  <div class='weight-label'>
    Weight
  </div>
  <div class='weight-value'>
    {{if (not (is-blank item.weight)) item.weight '---'}}%
  </div>
</div>
<div class='grade'>
  <div class='grade-label'>
    Grade
  </div>
  <div class='grade-value'>
    {{if (not (is-blank item.grade)) item.grade '---'}}%
  </div>
</div>
