{{#form-modal errorMessage=errorMessage submit=(action 'submit') close=(action 'close') open=open title=title class=class}}
  <div class='form-group'>
    <label for='select-semester'>Semester</label>
    <select class='form-control semester' id='select-semester' onchange={{action (mut semester) value='target.value'}}>
      {{#each semesters as |sem|}}
        <option value={{sem.value}} selected={{eq sem.value semester}}>{{sem.label}}</option>
      {{/each}}
    </select>
    <label for='year-box'>Year</label>
    {{input
      id='year-box'
      type='number'
      class='form-control year'
      value=year
    }}
    <label>
      {{input
        id='current-checkbox'
        type='checkbox'
        class='current'
        checked=current
      }}
      Current term?
    </label>
  </div>
{{/form-modal}}
