{{#bs-modal class=(concat 'download-modal ' computedClass) onHide=(action 'close') open=open as |modal|}}
  {{#modal.header}}
    <h2 class="modal-title">Download application</h2>
  {{/modal.header}}
  {{#modal.body}}
    <div class='alert alert-warning mobile-warning'>&emsp;This application has not been optimized for mobile devices. Please access the application from a non-mobile device.</div>
    <div class='platforms'>
      <div class='os desktop'>
        <div class='os-name'>
          Windows
          {{fa-icon 'windows' class='os-icon'}}
        </div>
        <div class='os-versions'>
          Compatible versions: 7, 8, 8.1, and 10
          <div class='os-links'>
            <a href='https://github.com/AdamWard1995/cross-platform-ordino/releases/download/{{app-version hideSha=true}}-{{truncate (app-version hideVersion=true) 7 false}}/Ordino-Windows-Installer-{{app-version hideSha=true}}-x86.msi'>32-bit</a>
            |
            <a href='https://github.com/AdamWard1995/cross-platform-ordino/releases/download/{{app-version hideSha=true}}-{{truncate (app-version hideVersion=true) 7 false}}/Ordino-Windows-Installer-{{app-version hideSha=true}}-x86_64.msi'>64-bit</a>
          </div>
        </div>
      </div>
      <div class='os desktop'>
        <div class='os-name'>
          macOS
          {{fa-icon 'apple' class='os-icon'}}
        </div>
        <div class='os-versions'>
          Compatible versions: OS X 10.8 (Mountain Lion) or higher
          <div class='os-links'>
            <a href='https://github.com/AdamWard1995/cross-platform-ordino/releases/download/{{app-version hideSha=true}}-{{truncate (app-version hideVersion=true) 7 false}}/Ordino-darwin-x64-{{app-version hideSha=true}}.zip'>64-bit</a>
          </div>
        </div>
      </div>
      <div class='os desktop'>
        <div class='os-name'>
          Linux
          {{fa-icon 'linux' class='os-icon'}}
        </div>
        <div class='os-versions'>
          Compatible versions: Still supported Debian based distributions
          <div class='os-links'>
            <a href='https://github.com/AdamWard1995/cross-platform-ordino/releases/download/{{app-version hideSha=true}}-{{truncate (app-version hideVersion=true) 7 false}}/Ordino_{{app-version hideSha=true}}_i386.deb'>32-bit</a>
            |
            <a href='https://github.com/AdamWard1995/cross-platform-ordino/releases/download/{{app-version hideSha=true}}-{{truncate (app-version hideVersion=true) 7 false}}/Ordino_{{app-version hideSha=true}}_amd64.deb'>64-bit</a>
          </div>
        </div>
      </div>
      {{!-- <div class='os mobile'>
        <div class='os-name'>
          Android
        </div>
        {{fa-icon 'android' class='os-icon'}}
        <div class='os-versions'>
          Compatible versions: Jelly Bean or higher
        </div>
        <div class='os-links'>
          <a href='https://play.google.com/store/apps/details?id=com.quadriga.ordino.user'>Download from Google Play</a>
        </div>
      </div> --}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="danger"}}Close{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
