<div class='left-portion'>
  <div class='label'>
    {{item.work.label}}
    {{#if item.work.completed}}
      {{fa-icon 'check-circle' class='completed'}}
    {{/if}}
  </div>
  <div class='due'>
    {{if item.work.due (moment-format item.work.due 'MMMM Do YYYY, h:mm a') 'No due date'}}
  </div>
</div>
{{#if item.category}}
  <div class='category'>
    {{fa-icon item.category.icon}}
  </div>
{{/if}}
<div class='work-course'>
  <strong>Course</strong>
  <div class='course-value'>
    {{item.course.course-code}}
  </div>
</div>
<div class='weight'>
  <strong>Weight</strong>
  <div class='weight-value'>
    {{if item.work.weight (round item.work.weight 1) '---'}}%
  </div>
</div>
