<div class='list-group item-list'>
  {{#each filteredItems as |group|}}
    <div class='list-group-item group-label' {{action 'groupSelected' group}} role='button'>
      {{#if group-renderer}}
        {{component group-renderer item=group.group}}
      {{else}}
        {{group.group}}
      {{/if}}
    </div>
    {{#each group.items as |item|}}
      <div class={{concat 'list-group-item' (if (eq new item) ' new') (if (eq changed item) ' changed')}} {{action 'itemSelected' item}} role='button'>
        {{#if item-renderer}}
          {{component item-renderer item=item}}
        {{else}}
          {{item}}
        {{/if}}
      </div>
    {{/each}}
  {{/each}}
</div>
<div class='filter-list'>
  <div class='page-header filter-list-header'>
    <h4>Filter</h4>
  </div>
  {{#each filterViews as |view|}}
    {{component view}}
  {{/each}}
  {{#bs-button onClick=(action 'clear') type='primary'}}Clear filter{{/bs-button}}
</div>
