<div class='terms'>
  <div class='page-header terms-header'>
    <h1 class='terms-header-title'>Terms</h1>
    <button class='btn btn-link terms-header-create-button' {{action 'showCreateModal'}}>
      {{fa-icon 'plus'}} Create term...
    </button>
  </div>
  <div class='terms-sub-header'>** Current term</div>
  {{#ember-scrollable class='list-scrollable'}}
    {{ordered-list
      items=model
      new=new
      itemRenderer=(component 'term-renderer')
      onItemSelected=(action 'goToTermRoute')
      onItemDeleted=(action 'showDeleteModal')
    }}
  {{/ember-scrollable}}
  {{#if (or createTerm noTerms)}}
    {{create-term-modal
      open=true
      onClose=(action 'hideCreateModal')
      onSubmit=(action 'createTerm')
    }}
  {{/if}}
</div>
{{confirm-modal
  open=deleteTerm
  class='create-term-modal'
  confirmationMessage=deleteConfirmationMessage
  onClose=(action 'hideDeleteModal')
  onConfirm=(action 'deleteTerm')
}}
