<div class='about'>
  <div class='about-version'>
    <h1 class='about-app-name'>
      <div class='about-app-name-remainder'>
        About&thinsp;
      </div>
      {{app-name}}
    </h1>
    <div class='about-details'>
      <div class='about-details-values'>
        <div class='about-details-value'><div class='label label-primary'>Version</div> {{app-version hideSha=true}}</div>
        <div class='about-details-value'><div class='label label-primary'>Build</div> {{app-version hideVersion=true}}</div>
      </div>
      {{!-- <div class='about-details-values'>
        <div class='about-detail'>
          {{app-version hideSha=true}}
        </div>
        <div class='about-detail'>
          {{app-version hideVersion=true}}
        </div>
      </div> --}}
    </div>
  </div>
  {{! template-lint-disable block-indentation }}
  <div class='about-description'>
    <div class='about-description-text'>
      &emsp;&emsp;Ordino is brought to you by <a href='http://qsdg.ca' target='_blank' rel='noopener'>Quadriga
      Software Development Group</a>. While in our 3rd year of university we
      needed to develop a mobile application for our software engineering course.
      Due to our own difficulties and frustrations with keeping on top of
      numerous courses, we decided to develop Ordino, a school organization app.
      Ordino was created by students, with the goal of helping to address the
      organizational needs of all students. We hope it will help you acheive all
      your educational goals!
      <br>
      <br>
      &emsp;&emsp;We want to here from you! Please report any issues you have and
      feel free to suggest any improvements you would like to see in Ordino.
      by clicking on the button below or sending an e-mail to
      <a href='mailto:quadrigadev@gmail.com'>quadrigadev@gmail.com</a>.
      <br>
      <br>
      The app name "Ordino" is copyrighted. All rights reserved.
      <br>
      <br>
    </div>
  </div>
  {{! template-lint-enable block-indentation }}
  <div class='btn-container'>
    <a class='btn btn-primary' href='mailto:quadrigadev@gmail.com'>Report issue</a>
  </div>
</div>
