<div class='application'>
  {{#app-menu}}
    {{#if session.isAuthenticated}}
      <ul class='list-group'>
        {{#link-to 'user.terms'}}
          <li class='list-group-item'>
            {{fa-icon 'graduation-cap'}}Terms
          </li>
        {{/link-to}}
        {{#link-to 'user.courses'}}
          <li class='list-group-item'>
            {{fa-icon 'list'}}Courses
          </li>
        {{/link-to}}
        <li class='list-group-item'>
          {{fa-icon 'image'}}Categories
        </li>
        {{#link-to 'user.workflow'}}
          <li class='list-group-item'>
            {{fa-icon 'file-text-o'}}WorkFlow
          </li>
        {{/link-to}}
        <li class='list-group-item'>
          {{fa-icon 'calendar'}}TimeTable
        </li>
      </ul>
      <button type='button' class='btn btn-primary' {{action 'signOut'}}>
        Sign Out
      </button>
    {{else}}
      <div class='app-menu-sign-in'>
        {{#link-to 'sign-in'}}
          <button type='button' class='btn btn-primary'>
            Sign In
          </button>
        {{/link-to}}
      </div>
    {{/if}}
  {{/app-menu}}
  <div class='content'>
    <div class='action-buttons'>
      {{#if session.isAuthenticated}}
        {{fa-icon 'user' click=(action 'goToAccountDetails')}}
      {{/if}}
      {{fa-icon 'info-circle'}}
    </div>
    {{outlet}}
  </div>
</div>
