<div class='application'>
  {{#if onlineStatus.isOnline}}
    <div class='content'>
      <div class={{concat 'overlay' (if (not drawerOpen) ' is-gone')}} onClick={{action 'clickMenuToggleButton'}} role='button'></div>
      {{#app-menu drawerOpen=drawerOpen onNavViewClicked=(action 'goToIndex')}}
        {{#if (and session.isAuthenticated session.currentUser)}}
          <ul class='list-group'>
            {{#link-to 'user.terms' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'graduation-cap'}}Terms
              </li>
            {{/link-to}}
            {{#link-to 'user.courses' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'list'}}Courses
              </li>
            {{/link-to}}
            {{#link-to 'user.categories' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'image'}}Categories
              </li>
            {{/link-to}}
            {{#link-to 'user.workflow' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'file-text-o'}}WorkFlow
              </li>
            {{/link-to}}
            {{#link-to 'user.timetable' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'calendar'}}TimeTable
              </li>
            {{/link-to}}
          </ul>
        {{else}}
          <div class='need-to-sign-in'>You need to {{#link-to 'sign-in'}}Sign In{{/link-to}} to access your saved data.</div>
        {{/if}}
      {{/app-menu}}
      <div class='action-buttons'>
        {{#if (not session.isAuthenticated)}}
          <div class='action-button' onClick={{action 'goToIndex'}} role='button'>{{fa-icon 'home'}}Home</div>
        {{else}}
          <div class='action-button' onClick={{action 'goToAccountDashboard'}} role='button'>{{fa-icon 'home'}}Home</div>
          <div class='action-button' onClick={{action 'goToAccountDetails'}} role='button'>{{fa-icon 'user'}}Account</div>
        {{/if}}
        {{#if (not electron)}}
          <div class='action-button' onClick={{action 'toggleShowDownloadModal'}} role='button'>{{fa-icon 'download' class='download'}}Download</div>
        {{/if}}
        <div class='action-button' onClick={{action 'goToHelp'}} role='button'>{{fa-icon 'question-circle'}}Help</div>
        <div class='action-button' onClick={{action 'goToAbout'}} role='button'>{{fa-icon 'info-circle'}}About</div>
      </div>
      {{outlet}}
    </div>
    {{#if (or showDownloadModal isMobile.any)}}
      {{download-modal isMobile=isMobile.any open=true onClose=(action 'toggleShowDownloadModal')}}
    {{/if}}
  {{else}}
    <div class='important-message'>
      {{app-name}}
      {{#if onlineStatus.isCheckingConnection}}
        <div class='alert alert-info checking-connection'><div class='spinner'></div>Checking Internet connection...</div>
      {{else}}
        <div class='alert alert-danger'><strong>Error!</strong> Ordino requires an Internet connection to function correctly.</div>
        <button class='btn btn-link refresh' onClick="window.location.reload()">{{fa-icon 'refresh'}}Refresh</button>
      {{/if}}
    </div>
  {{/if}}
</div>
<div class='footer'>Ordino. Copyright &copy; 2018. All rights reserved.</div>
