<div class='application'>
  {{#if onlineStatus.isOnline}}
    <div class='content'>
      <div class={{concat 'overlay' (if (not drawerOpen) ' is-gone')}} onClick={{action 'clickMenuToggleButton'}} role='button'></div>
      {{#app-menu drawerOpen=drawerOpen onNavViewClicked=(action 'goToIndex')}}
        {{#if (and session.isAuthenticated session.currentUser)}}
          <ul class='list-group'>
            {{#link-to 'user.terms' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'graduation-cap'}}Terms
              </li>
            {{/link-to}}
            {{#link-to 'user.courses' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'list'}}Courses
              </li>
            {{/link-to}}
            {{#link-to 'user.categories' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'image'}}Categories
              </li>
            {{/link-to}}
            {{#link-to 'user.workflow' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'file-text-o'}}WorkFlow
              </li>
            {{/link-to}}
            {{#link-to 'user.timetable' session.currentUser.uid}}
              <li class='list-group-item'>
                {{fa-icon 'calendar'}}TimeTable
              </li>
            {{/link-to}}
            {{#link-to 'about'}}
              <li class='list-group-item'>
                {{fa-icon 'info-circle'}}About
              </li>
            {{/link-to}}
          </ul>
        {{else}}
          <div class='need-to-sign-in'>You need to {{#link-to 'sign-in'}}Sign In{{/link-to}} to use Ordino's features.</div>
        {{/if}}
      {{/app-menu}}
      <div class='action-buttons'>
        {{#if session.isAuthenticated}}
          {{fa-icon 'home' click=(action 'goToAccountDashboard')}}
          {{fa-icon 'user' click=(action 'goToAccountDetails')}}
        {{/if}}
        {{#if (not electron)}}
          {{fa-icon 'download' class='download' click=(action 'toggleShowDownloadModal')}}
        {{/if}}
      </div>
      {{outlet}}
    </div>
    {{#if (or showDownloadModal isMobile.any)}}
      {{download-modal isMobile=isMobile.any open=true onClose=(action 'toggleShowDownloadModal')}}
    {{/if}}
  {{else}}
    <div class='important-message'>
      <h1 class='app-name'>
        <img class='app-name-logo' src='/assets/images/logo.png' alt='O'>rdino<sup>&copy;</sup>
      </h1>
      {{#if onlineStatus.isCheckingConnection}}
        <div class='alert alert-info checking-connection'><div class='spinner'></div>Checking Internet connection...</div>
      {{else}}
        <div class='alert alert-danger'><strong>Error!</strong> Ordino<sup>&copy;</sup> requires an Internet connection to function correctly.</div>
        <button class='btn btn-link refresh' onClick="window.location.reload()">{{fa-icon 'refresh'}}Refresh</button>
      {{/if}}
    </div>
  {{/if}}
</div>
