<div class='reset-password'>
  {{#if emailSent}}
    <div class='reset-password-sent'>
      <div class='page-header reset-password-header'>
        <h1>E-mail Sent!</h1>
      </div>
      <div class='instructions'>Please follow the link in the <strong>E-mail</strong> to change your password.</div>
      <div class='reset-password-sent-button-container'>
        {{#link-to 'sign-in'}}
          <button type="button" class="btn btn-primary">Sign In</button>
        {{/link-to}}
      </div>
    </div>
  {{else}}
    <form class='reset-password-form'>
      <div class='page-header reset-password-header'>
        <h1>Reset password</h1>
      </div>
      <div class='instructions'>Please enter your account <strong>E-mail</strong> address.</div>
      {{input
        type='text'
        class='form-control'
        value=email
        placeholder='E-mail'
      }}
      <div class='reset-password-form-button-container'>
        <input type='submit' class='btn btn-primary' value='Reset Password' {{action 'sendPasswordReset' email}}>
      </div>
    </form>
    <div class='alert alert-danger {{errorMessageClass}}'>
      <strong>Error!</strong> {{errorMessage}}
    </div>
  {{/if}}
</div>
