<div class='sign-in'>
  <form class='sign-in-form'>
    <div class='page-header sign-in-header'>
      <h1>Sign In</h1>
    </div>
    <div class='instructions'>Please enter your <strong>E-mail</strong> address and <strong>password</strong>.</div>
    <div class='sign-in-form-credentials'>
      {{input
        type='text'
        class='form-control'
        value=email
        placeholder='E-mail'
      }}
      {{input
        id='password-box'
        type='password'
        class='form-control'
        value=password
        placeholder='Password'
      }}
    </div>
    <div class='sign-in-form-button-container'>
      {{#if (or (and session.isWorking (not sendingVerification)) signingIn)}}
        <button class='btn btn-primary' disabled='disabled'>
          {{fa-icon 'spinner' spin=true}} Signing In...
        </button>
      {{else}}
        <input type='submit' class='btn btn-primary' value='Sign In' {{action 'signIn'}}>
      {{/if}}
      {{#link-to 'reset-password'}}
        <button class='btn btn-link'>Forgot your password?</button>
      {{/link-to}}
    </div>
    <div class='no-account'>
      Do not have an account?
      {{#link-to 'sign-up'}}
        Create an account.
      {{/link-to}}
    </div>
  </form>
  <div class='alert alert-danger {{errorMessageClass}}'>
    <strong>Error!</strong> {{errorMessage}}
  </div>
  {{#if emailNotVerified}}
    {{#if (and session.isWorking sendingVerification)}}
      <button class='btn btn-link' disabled='disabled'>
        {{fa-icon 'spinner' spin=true}} Re-send Verification E-mail...
      </button>
    {{else}}
      <button class='btn btn-link {{sendVerificationClass}}' {{action 'sendVerification' email password}}>
        Re-send Verification E-mail
      </button>
    {{/if}}
  {{/if}}
</div>
